* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
ul > li {
    list-style: none;
}
.clearfix {
    clear: both;
    overflow: hidden;
}
.clearfix:after {
    content: '';
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.box-title {
    background-color: #068efb;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 18px;
}

.header {
    height: 70px;
}
.header-title {
    display: inline-block;
    float: left;
}
.header-title > i {
    display: inline-block;
    width: 175px;
    height: 38px;
    margin-top: 15px;
    border: solid 1px #000;
}
.header-nav {
    display: inline-block;
    float: right;
    height: 100%;
    padding-top: 22px;
}
.header-nav > ul > li {
    float: left;
    margin-left: 80px;
}
.header-nav > ul > li > a,
.header-nav > ul > li > a:focus,
.header-nav > ul > li > a:active {
    color: #000;
    outline: none;
}

.banner {
    box-shadow: 0px 10px 10px -8px #999;
    height: 562px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.banner > ul {
    height: 562px;
}
.banner > ul > li {
    float: left;
    height: 100%;
}
.banner i {
    display: inline-block;
    width: 1100px;
    height: 562px;
}
.banner i.banner1 {
    background-image: url("img/banner1.png");
    background-size: cover;
}

/*会议报道*/
.meeting {
    height: 700px;
}

/*比赛视频*/
.gameVideo {
    height: 706px;
}

/*课程视频*/
.courseVideo {
    height: 706px;
}